.ui.grid>.column:only-child, .ui.grid>.row>.column:only-child.collectionHeader {
  height: 320px;
  background: no-repeat center;
  background-size: 100%;
}

.collectionHeaderContainer{
  width: 100%;
  margin: 0;
  height: 109.7%;
  margin-top: -14px;
  background: #00000070;
}

.collectionHeader {
  .ui.header {
    padding-top: 190px;

    .content {
      font-size: 40px;
      color:white;
      text-shadow: 3px 3px 15px black;
    }

    .sub.header {
      margin-top: 5px;
      width: 65rem;
      color: white;
      text-shadow: 3px 3px 15px black;
    }
  }
}
