.imageCard {
  height: 15ch;
  background: url(https://vignette.wikia.nocookie.net/ffooff/images/c/cd/Sissy_That_Walk.jpg/revision/latest?cb=20170828202646) no-repeat center;
  background-size: 100%;
}