.imageAlbumCard {
  height: 170px;
  width: 170px;
  background-size: 100%;
}

.albumCard p {
  padding-right: 10px;
  display: inline;
  font-size: 12px;
  font-weight: bold;
}

.albumCard p:hover {
  color: #e03997 !important;
}

.albumCard {
  width: 170px !important;
}