.imageCard {
  height: 15ch;
  background-size: 100%;
}

.collectionCard p {
  padding-right: 10px;
  display: inline;
  font-size: 12px;
  font-weight: bold;
}

.collectionCard p:hover {
  color: #e03997 !important;
}

.collectionCard{
  width: 258px !important;
}