.centered.row.collectionContainer {
  margin-top: -40px;
  background: white;
  //border: 1px solid rgba(34,36,38,.15);
  background-size: 100%;
}

hr {
  margin-top: -29px;
  width: 97.4%;
  border: 1px solid rgba(34,36,38,.15);
}

.containerContent{
  background: white;
}

.cardAlbumList{
  width: 100%;
}

.genreLabel:hover {
  background: #e03997;
  color: white;
}

i.icon.dropdown:before {
  color: #e03997;
  margin-left: -40px;
}

.ui.dropdown .menu>.header{
  color: #e03997;
}